// file for saving constants or variables used

$primary-color1: #ed07b7;
$secondary-color: #6920b0;
$hover-color: #be0692;
$font-family1: 'Agbalumo', system-ui;
$font-family2: 'Poppins', sans-serif;
$font-family3: 'Work Sans', 'Arial', sans-serif;
$white: white;
$work-section-bg: #f4f4f4;
$light-grey: #555;
