@use 'landing-page';
@use 'constants';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family: constants.$font-family3;
  font-weight: 300;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
  border: 2px solid black;
}

@mixin font($size: size) {
  font-size: $size;
  color: #fff;
  font-weight: 400;
}

h1 {
  @include font(300%);
  margin-bottom: 1%;
}

h2 {
  @include font(200%);
}
